.Alert {
	position: relative;
	background: #fff;
	border-width: 1px;
	border-style: solid;
	padding: 1em;
	font-size: 1.6rem;
	border-radius: 4px;
	width: 60%;
	margin: 0 auto;

	> p {
		margin: 0;
		font-size: 1.4rem;
	}
}

.Alert--Success {
	color: $color-green;
	border-color: $color-green;
}

.Alert--Error {
	color: $color-red;
	border-color: $color-red;
}

.Alert__close {
	position: absolute;
    top: -8px;
    right: -8px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid;
    vertical-align: middle;
    border-radius: 50%;
    padding: 0 5px 2px;
    background: $color-white;
    display: none;
}

.errorsList {

	> li {
		margin-bottom: 0.5rem;
	}
}