.pageHeader {
	position: fixed;
	top: 26px;
	z-index: 100;
	height: 82px;
	width: 100%;
	max-width: 600px;
	padding-top: 0.5rem;
	box-sizing: border-box;
	background: $color-white;
	text-align: center;
}

.pageHeader__header {
	font-size: 2.5rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}

.pageHeader__subheader {
	font-size: 1.25rem;
	font-weight: 300;
	margin-bottom: 2rem;
}

.pageHeader__icon {
	height: 1.45rem;
	vertical-align: middle;
	display: inline-block;
	margin-top: -0.35em;
}

.appHeader {
	text-align: right;
	padding: 0.5rem 1rem 0 0;
	margin-bottom: 0.5rem;
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 36px;
	box-sizing: border-box;
	background: $color-white;
}

.appHeader__menuBtn {
	background: transparent;
	border: none;
	color: $color-red;
	position: relative;
	z-index: 600;

	img {
		vertical-align: middle;
		margin-top: -3px;
		margin-left: 0.2rem;
	}
}