.participantsList {
	position: relative;
	min-height: 100px;
	margin-bottom: 6rem;

	> div .button-wrap {
		position: fixed;
		bottom: 0;
		z-index: 30;
		margin-top: 2.5rem;
		padding: 1.5rem 0;
		background: $color-white;
	}
}

.contestDetails {
	padding: 0 1rem;
	font-size: 1.2rem;

	.row {
		margin-bottom: 1rem;

		> div:nth-child(2) {
			text-align: right;
		}

		&:last-child {
			margin-bottom: 2rem;
		}
	}
}

.contestDetails__title {
	font-weight: 700;
}

.participantsList__item {
	padding: 0.9rem 0.5rem 0.5rem;
}

.participantsList__itemTitle {
	text-align: center;
	font-size: 1rem;
}

.participantsList__name {
	text-align: left;
    padding: 0 0 0 1rem;
    overflow: hidden;
    font-size: 1.2rem;
    font-weight: 700;
}

.participantsList__record,
.participantsList__wins {
	text-align: center;
	font-size: 1.6rem;
	line-height: 1.6;
}

.participantsList__img {
	img {
		width: 100%;
	}
}