.profile__playerName {
	font-size: 2rem;
	font-weight: 300;
}

.profile__details {
	font-size: 1.6rem;
	margin: 1.5rem 0;
	padding: 0 1.4rem;
}

.profile__detail {
	padding: 1rem 1.5rem;
	text-align: left;

	&:nth-child(odd) {
		background-color: #efefef;
	}
}

.profile__detailsLabel {
	text-transform: uppercase;
	width: 40%;
	margin-left: 4rem;
	display: inline-block;
}

.profile__detailsHighlight {
	color: $color-green;
}

.promoRevealBtn {
	background: transparent;
	color: $color-red;
	border: none;
}

.contestWidgetList {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top: 1rem;
	padding: 0 1rem;
}

.contestWidgetList__item {
	width: calc(33% - 1rem);
	margin: 0 1rem 1.5rem 0;

	&:last-child {
		margin-right: 0;
	}
}

.contestList__details {
	font-size: 0.9rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.contestList__contestType {
	font-style: italic;
}

.contestsList {
	margin-top: 2.5rem;
}

// Promo Code Errors
.promoCodeError {
	margin: 1rem 0;
    padding: 1.5rem;
    border: 1px solid $color-primary;
    color: $color-primary;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    background: #efefef;
}

.bogoPromoStatus {
	color: $color-green;
	font-size: 1.35rem;
	display: inline-block;
	margin-left: 4rem; // matches labels margin left
}