.eventList {
	position: relative;
	min-height: 100px;
	width: 100%;
	padding: 0 1rem;
}

.eventList__item {
	text-align: center;
	width: 46%;
	margin: 0 2rem 2rem 0;
	font-size: 1rem;
	font-weight: 700;
	float: left;

	&:nth-child(2n) {
		margin-right: 0;
	}

	&:nth-child(2n + 1) {
		clear: left;
	}

	a {
		text-decoration: none;
		color: $color-black;
	}
}

.eventList__name {
	margin: 0;
}

.eventList__img {
	width: 100%;
	margin-bottom: 0.5rem;
}