.fightsList {
	position: relative;

	&.save-btn-visible {
		margin-bottom: 6rem;
	}

	> div .button-wrap {
		position: fixed;
		bottom: 0;
		z-index: 30;
		margin-top: 2.5rem;
		padding: 1.5rem 0;
		background: $color-white;
		transform: translate3d(0, 100%, 0);
		transition: transform 0.3s ease;

		&.show {
			transform: translate3d(0,0,0);
		}
	}
}

.fightsList__clickableArea {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background:transparent;
	z-index: 5;
}

.fightsList__fighterStatsWarp {
	position: relative;

	.right {
		text-align: right;
	}
}

.fightsList__clearButton {
	position: absolute;
	top: -7px;
	z-index: 30;

	font-size: 1.3rem;
	font-weight: 700;
	background: $color-red;
	color: $color-white;
	border: 1px solid $color-white;
	border-radius: 50%;
	padding: 0.3em 0.5em 0.3em;

	visibility: hidden;
	opacity: 0;

	transition: opacity 0.3s ease;

	&.left {
		right: -6px;
	}

	&.right {
		left: -6px;
	}

	&.show {
		visibility: visible;
		opacity: 1;
	}
}

.fightsList__clearButtonExample {
	font-size: 1.3rem;
	font-weight: 700;
	background: $color-red;
	color: $color-white;
	border: 1px solid $color-white;
	border-radius: 50%;
	padding: 0.3em 0.5em 0.3em;
}

.fightsList__pick {
	padding: 0 1.5rem;

	select {
		width: 90%;
	    margin: 0 auto;
	    display: block;
	    font-size: 1.8rem;
	    font-weight: 700;
	    text-transform: uppercase;
	    padding: 0.75rem;
	    color: #888;
	    background: #efefef;
	    border: none;
	    margin-bottom: 1.25rem;
	}
}

.fightsList__pickHeader {
	font-size: 1.7rem;
	font-weight: 700;
	margin: 2.5rem 0 1rem;
}

.fightsList__finishPointsIndicator,
.fightsList__roundPointsIndicator,
.fightsList__minutePointsIndicator,
.fightsList__powerupPointsIndicator {
	font-size: 1.2rem;
	color: $color-gray-mid;
	text-align: right;
	padding: 0.3rem 1rem 0 0;
	opacity: 0;
	transition: opacity 0.3s ease;
	float: right;

	&.show {
		opacity: 1;
	}
}

.fightsList__item {
	background-color: $color-gray-light;
	padding-top: 1rem;

	&:first-child {
		padding-top: 0;
	}

	.fightsList__pick {
		background-color: $color-white;
		border-bottom: 4px solid $color-gray-light;
		height: 0;
		overflow: hidden;
		transition: height 0.3s ease;

		&.show {
			min-height: 77rem;
			min-height: calc(1vw * 194);
		}
	}

	.fightsList__fightersWrap {
		padding: 0.9rem 0.5rem 0.5rem;
		position: relative;
	}
}

.fightsList__powerup {
	width: 50%;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: -11px;
	z-index: 10;

	transition: opacity 0.3s ease;

	&.left {
		left: -6px;
	}

	&.right {
		right: -6px;
	}

	&.show {
		visibility: visible;
		opacity: 1;
	}
}

.fightsList__fighterName,
.fightsList__fighterHeight,
.fightsList__fighterRecord,
.fightsList__spread {
	font-size: 0.9rem;
	padding: 0 0.5rem;
}

.fightsList__fighterName {
	margin-top: 0.5rem;
	white-space: nowrap;
}

.fightsList__spread {
	color: $color-red;
	font-size: 1.6rem;
	margin-top: 0.5rem;

	&.favorite {
		color: $color-green;
	}
}

.fightsList__fighterWrap {
	position: relative;
}

.fightsList__fighterImgWrap {
	position: relative;
}

.fightsList__selectedIndicator {
	position: absolute;
	bottom: -1.8rem;
	left: 0;
	font-size: 0.7rem;
	text-transform: uppercase;
	background: $color-red;
	color: $color-white;
	padding: 0.7rem 0;
	text-align: center;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease;

	&.show {
		opacity: 1;
		visibility: visible;
	}

	&.favorite {
		background-color: $color-green;
	}
}

.fightsList__fighter {
	width: 100%;

	&.selected {
		border: 2px solid $color-red;

		&.favorite {
			border-color: $color-green;
		}
	}


}

.fightsList__flag {
	width: 40%;
	position: absolute;
	z-index: 1;
	top: -11px;

	&.left {
		left: -6px;
	}

	&.right {
		right: -6px;
	}
}

.powerUpList__btn {
	margin-bottom: 2rem;
	background: transparent;
	border: none;

	img {
		width: 90%;
	}

	> span {
		font-size: 0.7rem;
	}
}

@media screen and (min-width: 340px) {
	.powerUpList__btn {

		span {
			font-size: 0.9rem;
		}
	}
}

// buttons -----------------------------

.fightsList__pickButton {
  display: inline;
  cursor: pointer;
  line-height: 2.5;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 0.4rem;

  	&:last-child {
  		margin-right: 0;
  	}

	[type="radio"] {
		border: 0;
  		clip: rect(0 0 0 0);
	  	height: 1px; margin: -1px;
	  	overflow: hidden;
	  	padding: 0;
	  	position: absolute;
	  	width: 1px;
	}

	[type="radio"] + span {
		display: inline-block;
	  	padding: 0 1em;
	  	color: #757575;
	  	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f0f0+0,ebebeb+15,eaebed+18,eaeae8+21,e4e4e4+39,e4e4e6+42,e0e0e0+55,dfe0e2+58,dedede+61,d2d3d5+97,cecfd1+100 */
		background: #f0f0f0; /* Old browsers */
		background: -moz-linear-gradient(top,  #f0f0f0 0%, #ebebeb 15%, #eaebed 18%, #eaeae8 21%, #e4e4e4 39%, #e4e4e6 42%, #e0e0e0 55%, #dfe0e2 58%, #dedede 61%, #d2d3d5 97%, #cecfd1 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #f0f0f0 0%,#ebebeb 15%,#eaebed 18%,#eaeae8 21%,#e4e4e4 39%,#e4e4e6 42%,#e0e0e0 55%,#dfe0e2 58%,#dedede 61%,#d2d3d5 97%,#cecfd1 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #f0f0f0 0%,#ebebeb 15%,#eaebed 18%,#eaeae8 21%,#e4e4e4 39%,#e4e4e6 42%,#e0e0e0 55%,#dfe0e2 58%,#dedede 61%,#d2d3d5 97%,#cecfd1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#cecfd1',GradientType=0 ); /* IE6-9 */

		border-radius: 0 0 8px 8px;
		box-shadow: 0 5px 0 #b2b2b2;
	}


	/* never forget focus styling */
	[type="radio"] + span.show {
		background: #56D03F;
		box-shadow: 0 5px 0 #45BB31;
		color: $color-white;
	}
}
