.loginForm,
.registerForm {
	text-align: center;
	margin-bottom: 2rem;
	position: relative;
	padding: 0 2rem;

	p {
		font-size: 1.1rem;
		text-align: center;
		margin-bottom: 1.5rem;
	}

	a {
		text-decoration: none;
	}
}

.loginForm__form {
	margin: 0 auto;
}

.login__forgotPassword {
	text-align: center;
	margin-bottom: 4rem;
}

.forgotPassword {
	text-align: right;
	margin-top: 0.25rem;
	font-size: 1.1rem;
}