.loginForm,
.registerForm {
	text-align: center;
	margin-bottom: 2rem;
	position: relative;
	padding: 0 2rem;
}

.loginForm__form {
	margin: 0 auto;
}

.login__forgotPassword {
	text-align: center;
	margin-bottom: 4rem;
}