.fightPicksList__details {
	height: 0;
	overflow: hidden;
	transition: height 0.3s ease;
}

.fightPicksList__item {
	padding: 0.9rem 0 0.5rem;
}

.fightPicksList__item.show .fightPicksList__details  {
	min-height: calc(1vw * 111);
}

.fightPicksList__image,
.fightPicksList__icon > img {
	width: 100%;
}

.fightPicksList__fighterName {
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: 0.1rem;
	padding-top: 1rem;
}

.fightPicksList__odds {
	font-size: 1.25rem;
	color: $color-red;

	&.favorite {
		color: $color-green;
	}
}

.fightPicksList__title {
	font-size: 0.9rem;
	text-transform: uppercase;
	margin: 0.5rem 0 0.15rem;
	text-align: center;

}

.fightPicksList__stat {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;

	&.correct {
		color: $color-green;
	}
}

.fighPicksList__selectionResults {
	font-size: 1rem;
	margin: 0.3rem 0 0.15rem 1rem;
}

.fightPicksList__resultString {
	margin: 1rem auto 2rem;
	text-align: center;

}

.fightPicksList__row {
	padding: 1.05rem 0 0rem;

	&:first-of-type {
		padding-top: 1.25rem;
	}
}

.fightPicksList__selectionTitle {
	text-transform: uppercase;
	font-size: 1.25rem;
	margin-left: 1rem;
}

.fightPicksList__choicesTitle {
	font-size: 1.25rem;
	width: 100%;
	border-bottom: 1px solid $color-black;
	text-transform: uppercase;
	padding: 0 0 0.5rem 0.5rem;

	&.correct {
		color: $color-green;
	}
}

.fightPicksList__points {
	font-size: 2.5rem;
	font-weight: 700;
	text-align: right;
	padding-right: 1rem;

	&.penalty {
		color: $color-red;
	}

	&.correct {
		color: $color-green;
	}
}

.fightPicksList__powerUpName {
	font-weight: 700;
	text-transform: uppercase;
	padding-left: 1rem;
}

.fightPicksList__totalWrap {
	padding: 0.5rem 0.5rem 0.5rem 0;
	margin-top: 1rem;
	border-top: 2px inset #ddd;
}

.fightPicksList__totalTitle {
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: uppercase;
	padding-left: 0.5rem;
	line-height: 1.9;
}

.fightPicksList__totalValue {
	font-size: 2.5rem;
	font-weight: 700;
	text-align: right;
	padding-right: 0.5rem;
}