.resultsList__outcomeString {
	font-size: 1rem;
	padding: 0.5rem 1rem 1rem;
	background: $color-white;

	&.left {
		text-align: left;
	}

	&.right {
		text-align: right;
	}
}

.resultsList__item.fightsList__item {

	.fightPicksList__selectionTitle {
		line-height: 2;
	}
}

.resultsList__powerUpsTitle {
	margin-bottom: 1rem;
}

.resultsList__noPowerUps {
	font-size: 1.1rem;
}

.resultsList__powerUps {
	font-size: 1rem;
	text-align: center;

	img {
		width: 90%;
		margin: 0 auto;
	}
}