.pageHeader__subheader.withdrawl__subheader {
	font-size: 1.6rem;
	color: $color-green;
}

.withdrawl-form {
	padding-left: 4%;
	text-align: center;

	p {
		margin-bottom: 1rem;
	}
}

.form .withdrawl__inputWrap {

	input {
		width: 40%;
		display: inline;
	}
}

.form__inputBefore {
	font-size: 3rem;
	margin-right: 0.5rem;
	vertical-align: middle;
	line-height: 1;
}

.withdrawl__confirmation {
	text-align: center;
	margin-top: 4rem;
}

.withdrawl__instruction {
	font-style: italic;
	width: 90%;
	margin: 0 auto 2rem;
}

.withdrawl__detailsWrap {
	text-align: left;
	display: flex;
	justify-content: flex-start;
	content-justify: flex-start;
	width: 80%;
	margin: 0 auto 4rem;

	.withdrawl__totalAmount {
		margin-left: auto;
		font-size: 3rem;
		vertical-align: middle;
		padding-top: 1rem;
	}
}

.withdrawl__confirmAmountWrap {
    width: 45%;
    margin: 0 auto;
    padding: 1.5rem;
    border: 1px solid #666;
}

@media screen and (max-width: 460px) {
	.withdrawl__confirmAmountWrap {
		width: 60%;
	}
}

.withdrawl__confirmAmount {
    font-size: 4rem;
    color: $color-green;
}

.withdrawl__confirmTypeWrap {
    display: flex;
    justify-content: flex-start;
    font-size: 1.6rem;
    margin-top: 1rem;
}

.withdrawl__confirmDate {
    margin-left: auto;
}

.form__row.withdrawl-type {
    display: flex;
    justify-content: flex-start;
    width: 60%;
    margin: 3rem auto;

    .radioWrap:last-child {
    	margin-left: auto;
    }
}

.radioWrap {
	position: relative;

	input {
		width: 0;
		height: 0;
	}

	input:checked::before {
		content: url('../../image/icons/checkmark-icon.png');
		width: 31px;
		height: 31px;
		position: absolute;
		top: 0;
		z-index: 20;
	}

	&:last-child input:checked::before {
		right: -3rem;
	}

	&:first-child input:checked::before {
		left: -2rem;
	}
}

.withdrawl__paypalEmail {
    font-size: 1.3rem;
    margin-top: 2rem;
}
