html {
  font-size: 62.5%; /* Sets up Base 10 stuff */
}

body {
	font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 2rem 0;
}

a {
	color: $color-primary;
	transition: all 0.3s ease;

	&:hover, :focus {
		color: lighten($color-primary, 20%);
	}
}

#app {
	max-width: 600px;
	margin: 0 auto;
	padding-top: 90px;
}

#overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 90;
	background: transparent;

	&.show {
		display: block;
	}
}

#templateWrap {
	transition: filter 0.3s ease;

	&.blur {
		-webkit-filter: blur(2px);
		        filter: blur(2px);
	}
}