html {
  font-size: 62.5%; /* Sets up Base 10 stuff */
  height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 2rem 0;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a80300+0,000000+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a80300+0,000000+100 */
background: #a80300; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #a80300 0%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #a80300 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #a80300 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a80300', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

a {
	color: $color-primary;
	transition: all 0.3s ease;

	&:hover, :focus {
		color: lighten($color-primary, 20%);
	}
}

#app,
.app {
	max-width: 600px;
	min-height: calc(100% + 2rem);
	margin: 0 auto;
	padding-top: 90px;
	position: relative;
}

.app {
	padding-top: 1rem;
}

#overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 90;
	background: transparent;

	&.show {
		display: block;
	}
}

#templateWrap {
	transition: filter 0.3s ease;

	&.blur {
		-webkit-filter: blur(2px);
		        filter: blur(2px);
	}
}