html {
  font-size: 62.5%; /* Sets up Base 10 stuff */
}

body {
	font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 2rem 0;
}

a {
	color: $color-primary;
	transition: all 0.3s ease;

	&:hover, :focus {
		color: lighten($color-primary, 20%);
	}
}