.appDashboard {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 500;
	width: 50%;
	transform: translate3d(-100%, 0, 0);
	transition: transform 0.3s ease;
	background: $color-white;
	box-shadow: 1px 0 4px rgba(0,0,0, 0.5);

	&.show {
		transform: translate3d(0,0,0);
	}
}