.flip-container {
	-webkit-perspective: 2000;
	-moz-perspective: 2000;
	-ms-perspective: 2000;
	perspective: 2000;

	-ms-transform: perspective(2000px);
	-moz-transform: perspective(2000px);
		-moz-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;

	background: $color-white;
}

.flip-container.fliped .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container.fliped .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    .view-more {
    	display: none;
    }
}

.flipper {
	-webkit-transition: 0.3s;
	-webkit-transform-style: preserve-3d;
	-ms-transition: 0.3s;

	-moz-transition: 0.3s;
	-moz-transform: perspective(2000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;

	transition: 0.3s;
	transform-style: preserve-3d;

	position: relative;
	height: inherit;
}

.front,
.back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;

    -webkit-transition: 0.3s;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);

    -moz-transition: 0.3s;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateY(0deg);

    -o-transition: 0.3s;
    -o-transform-style: preserve-3d;
    -o-transform: rotateY(0deg);

    -ms-transition: 0.3s;
    -ms-transform-style: preserve-3d;
    -ms-transform: rotateY(0deg);

    transition: 0.3s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: inherit;
}

.front {
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}