.powerUpModal {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 20;
	padding: 5.5rem 2rem 2rem;
	background: rgba(0,0,0, 0.9);
	transition: transform 0.2s ease;
	transform: translate3d(-100%, 0, 0);
	overflow: hidden;
	color: $color-white;
	text-align: center;

	&.show {
		transform: translate3d(0,0,0);
	}
}

.powerUpModal__close {
	position: absolute;
    top: 0.8rem;
    right: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    background: transparent;
    border: none;
    color: $color-white;
    border: 4px solid;
    border-radius: 50%;
    padding: 0 1.1rem 0.4rem;
}

.powerUpModal__title {
	font-size: 3rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1.5rem;
}

.powerUpModal__image {
	width: 40%;
	display: block;
	margin: 0 auto 1rem;
}

.powerUpModal__description {
	font-size: 1.7rem;
	line-height: 1.4;
	margin-bottom: 1rem;
}

.powerUpModal__points {
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 4.5rem;
}

.powerUpModal__apply {
	font-size: 1.2rem;
	margin-bottom: 2rem;
	line-height: 1.6;
}

.powerUpModal__apply--big {
	font-size: 2.2rem;
}

.powerUpModal__confirm {

	button {
		padding: 0.6rem 2rem;
		color: $color-white;
		text-transform: uppercase;
		border-radius: 4px;
		font-size: 2.5rem;
		font-weight: 700;
		border: none;
		margin-right: 0.5rem;

		&:last-child {
			margin-right: 0;
		}
	}

	.powerUpModal__confirm--no {
		background-color: $color-red;
	}

	.powerUpModal__confirm--yes {
		background-color: $color-green;
	}
}