.syncAlert {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 300;
	transform: translate3d(0, 136%, 0);
	transition: transform 0.3s ease;
	box-shadow: 1px 1px 3px rgba(0,0,0, 0.4);

	&.show {
		transform: translate3d(0,0,0);
	}
}

.syncAlert__body {
	padding: 1.5rem 5.5rem 1.5rem 1rem;
	font-size: 1.5rem;
	color: $color-white;
}

.syncAlert--success {
	background: rgba(0,147,39, 0.9);
}

.syncAlert--failed {
	background: rgba(147,0,0, 0.9);
}

.syncAlert__close {
	position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: 700;
    background: transparent;
    border: none;
    color: $color-white;
    border: 4px solid;
    border-radius: 50%;
    padding: 0 0.9rem 0.2rem;
}