.syncAlert {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 300;
	transform: translate3d(0, -120%, 0);
	transition: transform 0.3s ease;

	&.show {
		transform: translate3d(0,0,0);
	}
}

.syncAlert__body {
	padding: 1.5rem 1rem;
	font-size: 1.4rem;
	color: $color-white;
}

.syncAlert--success {
	background: rgba(0,147,39, 0.8);
}

.syncAlert--failed {
	background: rgba(147,0,0, 0.8);
}