.syncAlert {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 300;
	-webkit-transform: translate3d(0, -136%, 0);
	        transform: translate3d(0, -136%, 0);
	transition: -webkit-transform 0.3s ease;
	transition: transform 0.3s ease;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
	box-shadow: 1px 1px 3px rgba(0,0,0, 0.4);

	&.show {
		-webkit-transform: translate3d(0,0,0);
		        transform: translate3d(0,0,0);
	}
}

.syncAlert__body {
	padding: 1.5rem 1rem;
	font-size: 1.3rem;
	color: $color-white;
}

.syncAlert--success {
	background: rgba(0,147,39, 0.8);
}

.syncAlert--failed {
	background: rgba(147,0,0, 0.8);
}