$color-primary: #a80300;
$rgba-primary: '168,3,0';

$color-white: #fff;
$color-black: #000;
$color-red: #e51937;
$color-green: #2dbe0c;
$color-blue: #1b1f42;
$color-yellow: #f8e407;

$color-gray-light: #eee;
$color-gray-mid: #ccc;
$color-gray-dark: #6c6c6c;

// Forms ----------------------
$form-field-bkgd-color: #ece6e6;
$form-field-border-color: darken($form-field-bkgd-color, 20%);
