$color-primary: #a80300;
$rgba-primary: '168,3,0';

$color-white: #fff;
$color-black: #000;
$color-red: #e51937;
$color-red-bright: #F9546A;
$color-green: #2dbe0c;
$color-blue: #1b1f42;
$color-yellow: #f8e407;

$color-gray-light: #eee;
$color-gray-mid: #ccc;
$color-gray-dark: #6c6c6c;

// Forms ----------------------
$form-field-bkgd-color: #ece6e6;
$form-field-border-color: darken($form-field-bkgd-color, 20%);

// Dashboard -----------------
$dashboard-red: #A70300;

$sidebar-bkgd: #eaefe9;
$sidebar-border: #969696;

$input-border: #8d9292;

$icomoon-font-path: "../../fonts" !default;

$icon-facebook: "\e900";
$icon-instagram: "\e901";
$icon-twitter: "\e902";
$icon-facebook-with-circle: "\e903";
$icon-instagram-with-circle: "\e904";
$icon-twitter-with-circle: "\e905";
$icon-youtube-with-circle: "\e906";


