.contests__header {
	font-size: 5.96rem;
	font-style: italic;
	font-weight: 700;
	margin-bottom: 0;
	text-align: center;
	text-transform: uppercase;
}

.contests__subheader {
	font-size: 2.4rem;
	font-weight: 100;
	text-align: center;
}

.contests__list {
	margin-top: 8rem;
}

.contests__noEvents {
	margin: 0 auto;
	text-align: center;
	width: 80%;

	p {
		color: $color-green;
		font-size: 2.4rem;
	}
}

.contests__eventImage {
	margin-bottom: 1.4rem;
	width: 90%;
}

.countdownHeader {
	color: $color-primary;
	font-size: 3rem;
	font-style: italic;
	font-weight: 700;
	margin-bottom: 0;
	text-transform: uppercase;
}

.countdownValue {
	font-size: 3rem;
	margin-right: 0.5rem;
}

.countdownLabel {
	color: $color-primary;
	font-size: 1.9rem;
	text-align: baseline;
	text-transform: uppercase;
	margin-right: 0.5rem;
}

.contests__eventWrap {
	text-align: center;
}

.contests__noContests {
	text-align: center;
}

.contests__table {
	width: 100%;

	tr {
		background: $color-gray-light;

		&:nth-child(2n) {
			background: $color-white;
		}
	}

	td {
		font-size: 1.3em;
		padding: 1.5rem;

		.btn {
			font-size: 0.75em;
		}
	}

	th {
	    background-color: #000;
	    color: #fff;
	    font-size: 1rem;
	    font-style: italic;
	    font-weight: 700;
	    padding: 0.5rem 1rem;
	    text-transform: uppercase;
	}
}

.contests__tableHeader {
	font-size: 1.8em;
	text-align: center;
}

.contests__tableTitle {
	font-size: 1.2rem;
	line-height: 2.4;
	margin-right: 0.5rem;
	text-transform: uppercase;
}

.contests__tableContestType {
	text-transform: uppercase;

	> span {
		font-size: 1rem;
		text-transform: none;
	}
}

.contests__playerCount,
.contest__tableFee {
	font-size: 2.8rem;
	font-weight: 700;
	vertical-align: middle;
}

.contests__tableFee {
	color: $color-green;
}

.all-contests-btn-wrap {
	padding: 2rem;
	text-align: center;
}

// 991px (bootstrap md breakpoint)
@media screen and (max-width: 61.9375rem) {
	.contests__eventWrap {
		margin-bottom: 3.5rem;
	}

	.contests__eventImage {
	    display: block;
	    margin: 0 auto 2.4rem;
	    width: 50%;
	}
}

// 615px
@media screen and (max-width: 38.4375rem) {
	.contests__list {
		margin-top: 1rem;

		.smaller-screens-block {
			padding-top: 2rem;
			text-align: center;
		}
	}

	.contests__playerCount,
    .contest__tableFee {
    	font-size: 1.1rem;
    }

    .contests__table {
	    margin: 0 auto 0 0;
	    max-width: 100%;

	    td {
	    	font-size: 1.1rem;
	    	padding: 0.5rem 1rem;

	    	&.contests__noContests {
	    		color: $color-green;
	    		font-size: 1.4rem;
	    		font-weight: 700;
	    		padding: 1rem;
	    	}
	    }
	}

	.contests__header {
        font-size: 3.96rem;
    }

    .contests__subheader {
        font-size: 1.5rem;
    }
}

// 365px
@media screen and (max-width: 22.8125rem) {
	.all-contests-btn-wrap > .btn {
		font-size: 1.1em;
	}
}