.contests__header {
	text-transform: uppercase;
	font-size: 5.96rem;
	font-weight: 700;
	margin-bottom: 0;
}

.contests__subheader {
	font-size: 2.4rem;
	font-weight: 100;
}

.contests__list {
	margin-top: 8rem;
}

.contests__noEvents {
	text-align: center;
	width: 80%;
	margin: 0 auto;

	p {
		font-size: 2.4rem;
		color: $color-green;
	}
}

.contests__eventImage {
	width: 90%;
	margin-bottom: 2.4rem;
}

.contests__eventWrap {
	text-align: center;
}

.contests__noContests {
	text-align: center;
}

.contests__table {
	width: 100%;

	tr {
		background: $color-gray-light;

		&:nth-child(2n) {
			background: $color-white;
		}
	}

	td {
		padding: 1.5rem;
		font-size: 1.3em;

		.btn {
			font-size: 0.75em;
		}
	}
}

.contests__tableHeader {
	text-align: center;
	font-size: 1.8em;
}

.contests__tableTitle {
	font-size: 1.2rem;
	text-transform: uppercase;
	line-height: 2.4;
	margin-right: 0.5rem;
}

.contests__playerCount,
.contest__tableFee {
	font-size: 2.8rem;
	font-weight: 700;
	vertical-align: middle;
}

.contests__tableFee {
	color: $color-green;
}

@media screen and (max-width: 60rem) {
	.contests__table {

		td {
			font-size: 1.1em;
		}
	}

	.contests__playerCount,
	.contest__tableFee {
		font-size: 2.2rem;
	}

	.contests__eventWrap {
		.btn {
			font-size: 1.2em;
		}
	}
}

@media screen and (max-width: 50rem) {
	.contests__table {
		width: 100%;

		tr {
			display: block;
			margin-bottom: 2rem;
			width: 48%;
			margin-right: 2%;
			float: left;
			border: 1px solid;

			&:nth-child(2n) {
				background: $color-gray-light;
				margin-right: 0;
			}

			&:nth-child(2n+1) {
				clear: left;
			}

			&:nth-child(5) {
				display: none;
			}
		}

		td {
			display: block;
			border-bottom: 1px dotted;

			&:last-child {
				border-bottom: none;
			}
		}
	}
}