.form-wrap {
	margin: 5rem auto 3.5rem;

	.row {
		margin-bottom: 1.8rem;
	}

	p {
		margin: 0 0 1.8rem;
		font-weight: 600;
		text-align: center;
	}

	input,
	select,
	textarea {
		background: $sidebar-bkgd;
		border: 1px solid $input-border;
		padding: 1.4rem 2.1rem;
		font-family: sans serif;
	}

	select {
		padding-bottom: 1.3rem;
		font-family: 'Montserrat', sans serif;
		color: #777;
		width: 100%;
	}

	option {
		color: $color-black;
		font-family: sans serif;

		&.placeholder {
			color: #777;
			font-family: 'Montserrat', sans serif;
		}
	}

	label.text-input {
		width: 100%;
		float: left;
		margin-right: 2%;

		&:last-child {
			margin-right: 0;
		}
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"] {
		display: block;
		width: 100%;
	}

	input[type="checkbox"],
	input[type="radio"] {
		display: inline-block;
		margin-right: 0.35rem;
		cursor: pointer;
	}

	textarea {
		width: 100%;
		height: 200px;
		font-size: 1.4rem;
		margin: 0 auto;
		display: block;
	}

	.checkbox-wrap,
	.radio-wrap {
		display: inline-block;
		margin-right: 2.1rem;

		label {
			cursor: pointer;
		}
	}

	h5 {
		font-size: 1.6rem;
		font-weight: 600;
		margin: 1.4rem 0;
	}
}

::-webkit-input-placeholder { /* WebKit browsers */
    font-family: 'Montserrat', sans serif;
    font-weight: 400;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: 'Montserrat', sans serif;
    font-weight: 400;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: 'Montserrat', sans serif;
    font-weight: 400;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-family: 'Montserrat', sans serif;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
	.form-wrap {

		.col-sm-6:first-child {
			label {
				margin-bottom: 1.8rem;
			}
		}
	}
}

.form-header {
	margin-top: 3.6rem;

	h2 {
		font-size: 3.2rem;
	}

	h3 {
		font-size: 1.8rem;
		width: 90%;
		text-transform: none;
	}
}

@media screen and (max-width: 768px) {
	#contact-submit {
		display: block;
		margin: 0 auto;
	}
}

.working-indicator {
	display: inline-block;
	width: 50px;
	height: 50px;
}

.submit-wrap {
	overflow: auto;
}

.spinner-wrap {

}

// date time pickers

.picker--time .picker__holder {
	position: relative;
	z-index: 100;
	width: 20%;
	height: 320px;
	left: 120px;
}

// form errors

.informational .parsley-errors-list,
.parsley-errors-list {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
	overflow: visible;

	li {
		padding: 0.7rem 1.4rem;
		background: $color-red;
		color: $color-white;
		position: relative;
		display: inline-block;
		font-size: 1.4rem;
		width: auto;

		&:before {
		    content: "";
		    display: block;
		    width: 0;
		    height: 0;
		    border-style: solid;
		    border-width: 0 12px 10px;
		    border-color: transparent transparent $color-red transparent;
		    position: absolute;
		    top: -10px;
		    left: 10px;
		}
	}
}

.error-centered + .parsley-errors-list {
	text-align: center;
}

.form-error,
.form-success {
	font-size: 1.6rem;
	color: $color-red;
}

.form-success {
	color: $color-green;
}

// response

.server-response {
	padding: 0.7rem;
	font-size: 2.1rem;
	border: 1px solid;
	margin: 0.35rem auto;
	width: 80%;
	background: #fff;


	&.error {
		color: $color-red;
		border-color: $color-red;
	}

	&.success {
		color: $color-green;
		border-color: $color-green;
	}
}