.content-container {
  padding: ($vertical-rhythm * 2) 2rem;
  max-width: 75em;
  margin: 0 auto;
}

.mainLogo {
	width: 100%;
}

.informational {
	width: 90%;
	max-width: 960px;
	margin: 0 auto;

	p {
		line-height: 1.6;
	}
}