.hero {
	background: url('../../image/lander/hero-image-v2.jpg') left top/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
	padding: 0 0 1.4vw 4.8vw;
}

.hero__header {
	font-size: 8.504rem;
	font-weight: 700;
	color: $color-white;
    letter-spacing: -1.5px;
    text-shadow: 4px 2px 0 $color-black,
                 5px 3px 0 $color-black,
                 6px 4px 0 $color-black,
                 7px 5px 0 $color-black,
                 8px 6px 0 $color-black,
                 -1px -1px 0 $color-black,
                 -1px -2px 0 $color-black;
	text-align: center;
	margin-top: 8rem;
    margin-bottom: 0;
	animation-delay: 0.2s;
	animation-duration: 0.175s;
    animation-name: fadeAndScale;
    animation-timing-function: cubic-bezier(0.71,0.55,0.62,1.57);
}

.hero__subheader {
	color: $color-white;
	margin-top: -1rem;
	text-align: center;
	text-shadow: 4px 4px 1px $color-black;
	animation-delay: 0.2s;
	animation-duration: 0.175s;
    animation-name: fadeAndScale;
    animation-timing-function: cubic-bezier(0.71,0.55,0.62,1.57);
    font-size: 4.25rem;

    > a {
        color: $color-white;
        outline: none;

        &:hover {
            color: $color-gray-mid;
        }
    }
}

.hero__ctaBtn {
	animation-delay: 0.2s;
	animation-duration: 0.175s;
    animation-name: fadeAndScale;
    animation-timing-function: cubic-bezier(0.71,0.55,0.62,1.57);
    display: inline-block;
    width: auto;
    padding: 1rem 3.6rem;
    font-size: 1.8rem;
}

// hero for inner pages
.heroInner {
    height: 180px;
    background: url('../../image/lander/header-bg.jpg') left top/auto 100% no-repeat;
    margin-bottom: 4rem;

    h1 {
        color: $color-white;
        font-size: 6rem;
        font-weight: 700;
        text-align: center;
        line-height: 6rem;
        margin-top: calc(90px - 3rem - 3.92rem);
        text-transform: uppercase;
        text-shadow: 4px 2px 0 $color-black,
                     5px 3px 0 $color-black,
                     6px 4px 0 $color-black,
                     7px 5px 0 $color-black,
                     8px 6px 0 $color-black,
                     -1px -1px 0 $color-black,
                     -1px -2px 0 $color-black;
    }
}

.quote__wrap {
    margin-top: 1.4rem;
}

.quote {
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 700;
    margin-top: 31.4rem;
    font-style: italic;
}

.mobileHero__paymentLogos {
    background: url('../../image/lander/mobile-payment-logos.png') center center/100% auto no-repeat;
    margin: 0 auto;
}

@media screen and (min-width: 615px) {
    .hero__ctaBtn {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 750px) {
    .hero__ctaBtn {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 960px) {
    .hero {
        padding: 0 0 2.6vw 4.8vw;
    }
}

@media screen and (min-width: 1104px) {
    .hero {
        padding: 0 0 3vw 4.8vw;
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        padding: 0 0 3.3vw 4.8vw;
    }

    .hero__ctaBtn {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1600px) {
    .hero {
        padding: 0 0 3.3vw 4.8vw;
    }

    .hero__ctaBtn {
        font-size: 3.4rem;
    }
}

// 1250px
@media screen and (max-width: 78.125rem) {
    .hero__subheader {
        font-size: 4.25rem;
    }
}

// 980px
@media screen and (max-width: 61.25rem) {
    .hero__header {
        font-size: 6.5rem;
    }

    .hero__subheader {
        font-size: 3.25rem;
    }
}

// 770px
@media screen and (max-width: 48.125rem) {
    .hero__header {
        padding-top: 3rem;
        font-size:  5rem;
        margin-top: 0;
    }

    .hero__subheader {
        font-size: 2.6rem;
    }
}

// 615px
@media screen and (max-width: 38.4375rem) {
    .hero {
        background-image: url('../../image/lander/mobile-hero.jpg');
        background-size: 100% auto;
        background-color: #000;
        text-align: center;
    }

    .hero__header {
        font-size: 5.404rem;
        padding-top: 3.6rem;
        margin-bottom: 0;
        margin-top: 0;
    }

    .hero__subheader {
        font-size: 2.35rem;
    }

    .heroInner {
        h1 {
            font-size: 4rem;
        }
    }

    .fiveStarRating {
        display: inline-block;
        margin: 2.4rem auto;
        width: 55%;
    }

    .mobileHero__paymentLogos {
        width: 73%;
        height: 39px;
    }
}

// 520px
@media screen and (max-width: 32.5rem) {

    .hero__header {
        font-size: 4.804rem;
    }

    .hero__subheader {
        font-size: 1.8rem;
    }

}

// 460px
@media screen and (max-width: 28.75rem) {

    .hero__header {
        font-size: 4.804rem;
    }

    .hero__subheader {
        font-size: 1.8rem;
    }

}

// 420px
@media screen and (max-width: 26.25rem) {

    .hero__header {
        font-size: 3.204rem;
    }

    .hero__subheader {
        font-size: 1.4rem;
        margin-top: 0;
    }

    .heroInner {
        h1 {
            font-size: 3rem;
        }
    }

    .fiveStarRating {
        display: inline-block;
        margin: 2.4rem auto;
        width: 80%;
    }

    .mobileHero__paymentLogos {
        width: 100%;
        height: 30px;
    }
}

@media screen and (max-width: 20rem) {
    .hero__header {
        font-size: 3.1rem;
    }
}

@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.65, .65);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes fadeInDown {
	from {
        opacity: 0;
        transform: translate3d(0,-100%,0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}