.hero {
	background: url('../../image/lander/hero-bkgd.jpg') left top/cover no-repeat;
	text-align: center;
}

.hero__header {
	font-size: 8.504rem;
	font-weight: 700;
	color: $color-white;
    text-shadow: 6px 4px 0px $color-black;
	text-transform: uppercase;
	text-align: center;
	margin-top: 10rem;
	animation-delay: 0.2s;
	animation-duration: 0.175s;
    animation-name: fadeAndScale;
    animation-timing-function: cubic-bezier(0.71,0.55,0.62,1.57);
}

.hero__subheader {
	color: $color-white;
	margin-top: 22rem;
	text-align: center;
	text-shadow: 2px 2px 0 $color-black;
	animation-delay: 0.2s;
	animation-duration: 0.175s;
    animation-name: fadeAndScale;
    animation-timing-function: cubic-bezier(0.71,0.55,0.62,1.57);
    font-size: 5.25rem;
}

.hero__ctaBtn {
	margin-top: 0;
	animation-delay: 0.2s;
	animation-duration: 0.175s;
    animation-name: fadeAndScale;
    animation-timing-function: cubic-bezier(0.71,0.55,0.62,1.57);
}

// 615px
@media screen and (max-width: 38.4375rem) {
    .hero {
        background-image: url('../../image/lander/hero-bkgd-small.jpg');
    }

    .hero__header {
        font-size: 5.404rem;
        padding-top: 5rem;
        margin-bottom: 0;
        margin-top: 7rem;
    }

    .hero__subheader {
        font-size: 2.35rem;
        margin-top: 0;
    }
}

// 520px
@media screen and (max-width: 32.5rem) {

    .hero__header {
        font-size: 4.804rem;
        padding-top: 5rem;
        margin-bottom: 0;
        margin-top: 6rem;
    }

    .hero__subheader {
        font-size: 1.8rem;
        margin-top: 0;
    }

}

// 460px
@media screen and (max-width: 28.75rem) {

    .hero__header {
        font-size: 4.804rem;
        padding-top: 5rem;
        margin-bottom: 0;
        margin-top: 3rem;
    }

    .hero__subheader {
        font-size: 1.8rem;
        margin-top: 0;
    }

}

// 420px
@media screen and (max-width: 26.25rem) {

    .hero__header {
        font-size: 3.204rem;
        padding-top: 5rem;
        margin-bottom: 0;
        margin-top: 3rem;
    }

    .hero__subheader {
        font-size: 1.4rem;
        margin-top: 0;
    }

}

@media screen and (max-width: 20rem) {
    .hero__header {
        font-size: 3.4rem;
        margin-top: 1rem;
    }
}

@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.65, .65);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes fadeInDown {
	from {
        opacity: 0;
        transform: translate3d(0,-100%,0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}