.information {
	background: url('../../image/lander/information-panel-bkgd.jpg') left top/cover no-repeat;
}

.information__itemsWrap {
	width: 100%;
	min-height: 220px;
	overflow: hidden;
	position: relative;
	margin-bottom: 1.2rem;
	transition: height 0.3s ease;
}

.information__item {
	color: $color-white;
	width: inherit;
	position: absolute;
	transform: translate3d(-100%, 0, 0);
	z-index: 1;
	transition: transform 0.3s cubic-bezier(0.000, 0.685, 0.540, 1.005);

	&.show {
		z-index: 5;
		transform: translate3d(0,0,0);
	}

	.highlight--pos {
		color: $color-green;
	}

	.highlight--neg {
		color: $color-red-bright;
		text-shadow: 1px 1px 1px $color-black;
	}
}

.information__header {
	color: $color-white;
	text-transform: uppercase;
	text-shadow: 4px 4px 0 rgba(0,0,0,1);
	font-weight: 700;
}

h3.information__header {
	margin-bottom: 0;
}

.informaion__itemLinksList {
	width: 100%;
	list-style-image: url('../../image/lander/list-arrow.png');
	list-style-position: inside;
	list-style-type: disc;

	> li {
		float: left;
		margin: 1.4rem 4rem 0 0;
		width: 40%;

		&:nth-child(2n) {
			margin-right: 0;
		}

		&:nth-child(2n+1) {
			clear: left;
		}
	}
}

.information__itemLink {
	background: transparent;
	color: $color-green;
	text-decoration: underline;
	border: none;
	text-shadow: 1px 1px 2px rgba(0,0,0,0);
	margin-left: -0.5rem;
	cursor: pointer;
	transition: color 0.3s ease;
	outline: none;

	&:hover {
		color: $color-white;
	}
}

a.information__itemLink {
	padding-left: 5px;
}

.information__thirdPartyLogo {
	width: 17%;
    margin: 5.96rem 9% 5.96rem 0;
    float: left;
}

.information__thirdPartyLogo--paypal {
	width: 14%;
	margin-right: 2%;
}

.information__thirdPartyLogo--creditCards {
	width: 21%;
}

.information__thirdPartyLogo--ssl {
	width: 30%;
	margin-top: 5.06rem;
}

.information__phoneTemplateWrap {
	position: relative;
	width: 312px;
	height: 600px;
	background: url('../../image/lander/phone-template.png') left top/cover no-repeat;
	margin: 0 auto;
}

.information__phoneScreenWrap {
	position: absolute;
    width: 268px;
    height: 475px;
    top: 63px;
    left: 23px;
	z-index: 1;
	overflow: hidden;
	background: left top/cover no-repeat $color-black;
}

.information__phoneScreen {
	position: absolute;
	width: inherit;
	height: inherit;
	background: left top/cover no-repeat $color-black;
	transform: translate3d(-100%,0,0);
	transition: transform 0.3s cubic-bezier(0.000, 0.685, 0.540, 1.005);
	z-index: 1;

	&.visible {
		z-index: 5;
		transform: translate3d(0,0,0);
	}
}

.information__phoneScreen--scoring {
	background-image: url('../../image/lander/scoring-screen.jpg');
}

.information__phoneScreen--howToPlay {
	background-image: url('../../image/lander/how-to-play-screen.jpg');
}

.information__phoneScreen--powerUps {
	background-image: url('../../image/lander/powerup-screen.jpg');
}

.information__phoneScreen--contestFormats {
	background-image: url('../../image/lander/formats-screen.jpg');
}

.information__phoneScreen--legal {
	background-image: url('../../image/lander/availability-screen.jpg');
}

@media screen and (max-width: 62rem) {
	.informaion__itemLinksList {
		> li {
			width: 48%;
			margin-right: 1rem;
		}
	}
}

@media screen and (max-width: 52rem) {
	.information {
		text-align: center;
	}

	.informaion__itemLinksList {
		list-style-image: none;
		list-style: none;

		> li {
			float: none;
			width: 100%;
		}
	}

	.information__phoneTemplateWrap {
		margin-top: 2rem;
	}

	.information__itemLinksWrap {
		text-align: center;
	}

	.information__itemLink {
		font-size: 2rem;
	}
}

@media screen and (max-width: 47.95rem) {
	.information__phoneTemplateWrap {
		display: none;
	}
}