.nav-container {
    padding: 1.92rem 2rem;
    max-width: 75em;
    margin: 0 auto;
    background-color: $color-white;
}

.navigation {
	position: fixed;
	width: 100%;
	background-color: $color-white;
	z-index: 500;
}

.navigation__btnWrap {
	text-align: right;
}

@media screen and (max-width: 70rem) {
	.navigation__btnWrap {

		.btn {
			width: 30%;
			font-size: 1em;
			text-align: center;
			padding-left: 0;
			padding-right: 0;
		}
	}
}