.nav-container {
    padding: 1.92rem 2rem;
    max-width: 75em;
    margin: 0 auto;
    background-color: $color-white;
}

.navigation {
	position: fixed;
	width: 100%;
	background-color: $color-white;
	z-index: 500;
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.6);
}

.navigation__btnWrap {
	text-align: right;
}

.mobile-nav-container {
	justify-content: space-between;
	align-items: center;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f9f9f9+24,e5e5e5+74,e5e5e5+98,e4e4e4+99,d6d6d6+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 24%, #e5e5e5 74%, #e5e5e5 98%, #e4e4e4 99%, #d6d6d6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 24%,#e5e5e5 74%,#e5e5e5 98%,#e4e4e4 99%,#d6d6d6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 24%,#e5e5e5 74%,#e5e5e5 98%,#e4e4e4 99%,#d6d6d6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */

	padding: 0.75rem;
}

.hamburger {
	padding: 6px 5px 5px 0;
	outline: 0;
	color: $color-primary;
}

.hamburger-inner {
	background-color: $color-primary;
}

.hamburger-inner::before {
	top: -7px;
	background-color: $color-primary;
}

.hamburger-inner::after {
	bottom: -7px;
	background-color: $color-primary;
}

.mobile-menu-btn-wrap,
.mobile-account-btn-wrap {
	width: 125px;
	font-size: 1.2rem;
}

.mobile-menu-btn-wrap {
	display: flex;
	align-items: center;
	color: $color-primary;
}

.mobile-account-btn-wrap {
    text-align: right;
}

.mobile-account-btn {
	text-decoration: none;
	color: #000;

	> img {
    	width: 23%;
    	vertical-align: middle;
    	margin-left: 0;
    }
}

.mobile-main-nav-wrap {
	position: fixed;
	top: 5.1rem;
	left: 0;
	bottom: 0;
	z-index: 200;
	width: 310px;
	background-color: #fff;
	padding: 1.4rem 0;
	box-shadow: 2px 0 4px rgba(0,0,0, 0.5);

	transform: translate3d(-100%, 0, 0);
	transition: transform 0.3s cubic-bezier(.945,-.005,.19,1.005);

	&.show {
		transform: translate3d(0,0,0);

		.mobile-main-nav {
			> ul {
				> li {
					transform: translate3d(0,0,0);
				}
			}
		}
	}
}

.mobile-main-nav {

	> ul {

		> li {
			transform: translate3d(-100%,0,0);
			transition: transform 0.3s cubic-bezier(.945,-.005,.19,1.005) 0.1s;
			border-top: 1px solid #bab4b4;

			> a {
			    font-weight: 700;
			    padding: 1rem 1.6rem;
			    display: inline-block;
			    color: #000;
			    text-transform: uppercase;
			    font-size: 1.8rem;
			    font-style: italic;
			    width: 100%;
			    text-decoration: none;
			}

			&:last-child {
				border-bottom: 1px solid #bab4b4;
			}
		}
	}
}

.mobile-nav-logo {
	margin: 0 auto 1.4rem;
	width: 190px;
	height: 49px;
	text-align: center;
	background: url('../../image/lander/mobile-menu-logo.png') center center/100% auto  no-repeat;
}

.mobile-nav-btn-wrap {
	margin-top: 2.4rem;
}

.menu-nav-footer-header {
	font-size: 3.1rem;
	font-weight: 700;
	color: $color-white;
    letter-spacing: -1.5px;
    text-shadow: 1px 2px 0 $color-black,
                 2px 3px 0 $color-black,
                 3px 4px 0 $color-black,
                 4px 5px 0 $color-black,
                 5px 6px 0 $color-black,
                 -1px -1px 0 $color-black;
	text-align: center;
	margin: 2.4rem 0 0;
}

.menu-nav-footer-subheader {
	font-size: 1.4rem;
	text-align: center;
	font-weight: 100;
	margin: 0.4rem 0 0.6rem;
}

.menu-nav-footer {

	img {
		width: 66%;
		display: block;
		margin: 0 auto;
	}
}

// 980px
@media screen and (max-width: 70rem) {
	.navigation__btnWrap {

		.btn {
			width: 30%;
			font-size: 1em;
			text-align: center;
			padding-left: 0;
			padding-right: 0;
		}
	}
}
// 620px
@media screen and (max-width: 38.75rem) {
	.mainLogo {
		width: 144px;
    	padding-top: 1rem;
	}

	.navigation__btnWrap {
		padding-top: 1rem;

		.btn {
			font-size: 1.5em;
			padding: 0.25rem 0.75em;
			box-sizing: border-box;
			width: auto;
		}

		button.btn,
		a.btn:nth-child(1),
		a.btn:nth-child(2) {
			display: none;
		}
	}

	.nav-container {
		padding: 0 2rem 0.5rem;
	}

	.mobile-logo-wrap {
		width: 38%;

		> img {
			width: 63%;
		    margin: 0 auto;
		    display: block;
		    vertical-align: middle;
		}
	}
}

@media screen and (max-width: 25rem) {
	.mobile-logo-wrap {
		width: 60%;

		> img {
			width: 80%;
		}
	}
}