.powerUps {
	background: url(../../image/lander/cage-bg.jpg) left bottom/100% auto no-repeat;
	overflow: hidden;
	position: relative;
	text-align: center;
	padding-bottom: 12rem;
}

.powerUps__header {
    color: $color-black;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 5.25rem;
}

.powerUps__subheader {
	color: $color-black;
    font-size: 2.5rem;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 6rem;
}

.powerupsCarousel__itemButton {
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
}

.powerupsCarousel__itemTitle {
	text-transform: uppercase;
	font-weight: 700;
}

.powerupsInfo {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	z-index: 30;
	transform: translate3d(0,-100%,0);
	transition: transform 0.3s cubic-bezier(0.000, 0.685, 0.540, 1.005);

	background: rgba(0,0,0, 0.9);
	color: $color-white;
	text-align: center;

	&.show {
		transform: translate3d(0,0,0);
	}
}

.powerupsInfo__item {
	position: absolute;
	z-index: 1;
	width: 100%;
	top: 0;
	bottom: 0;
	opacity: 0;
	transition: opacity 0.3s cubic-bezier(0.000, 0.685, 0.540, 1.005);
	padding: ($vertical-rhythm * 2) 2rem;

	&.show {
		z-index: 2;
		opacity: 1;

	}
}

.powerupsInfo__itemTitle {
	text-transform: uppercase;
	color: $color-white;
	font-weight: 700;
	font-size: 3.052em;
	text-align: center;
	margin-bottom: 0.25em;
}

.powerupsInfo__description {
	font-size: 1.953rem;
	margin-top: 0.5em;
}

.powerUpInfo__points {
	font-size: 3.052rem;
	margin-bottom: 2.4rem;
}

// 615px
@media screen and (max-width: 38.4375rem) {
	.powerUps__header {
		line-height: 1;
		margin-bottom: 1rem;
		font-size: 3.96rem;
	}

	.powerUps__subheader {
		font-size: 1.5rem;
	}
}