.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.smaller-screens,
.smaller-screens-block,
.smaller-screens-flex {
	display: none;
}

.larger-screens {
	display: inline;
}

.larger-screens-block {
	display: block;
}

.larger-screens-inline-block {
	display: inline-block;
}


// 615px
@media screen and (max-width: 38.4375rem) {
	.smaller-screens {
		display: inline;
	}

	.smaller-screens-block {
		display: block;
	}

	.smaller-screens-flex {
		display: flex;
	}

	.larger-screens,
	.larger-screens-block,
	.larger-screens-inline-block {
		display: none;
	}
}